.welcome {
    background-image: url('./assets/images/Rectangle 2hero-img.png');
}

.meds {
    background-image: url('./assets/images/Rectangle 18footer-img-1.png');
}

.login-image {
    background-image: url('./assets/images/login-img.jpeg');
    background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
    .welcome {
        /* styles for smaller screens */
    }

    .meds {
        /* styles for smaller screens */
    }
}
   